<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission conditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/view-admissions.js"></script>
</head>

<body>
    <style>
        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 6px 10px;

        }

        table tbody th {
            text-align: left;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Ways to enroll</th>
                <th>Requirements to be achieved</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>High school transcript results</th>
                <td>- GPA for the whole year 11th grade; or the first semester of grade 12; or all year 12 from 7.0 and
                    up<br><br>
                    - Candidates for admission to the Information Technology and Artificial Intelligence majors need to
                    satisfy the condition that the average score of one of the three subjects of Mathematics, Physics,
                    and Chemistry is 7.0 or higher.</td>
            </tr>
            <tr>
                <th>Results of the high school graduation exam</th>
                <td>- The matriculation scores are expected to be announced after the exam results are available.</td>
            </tr>
            <tr>
                <th>Results of the competency assessment test of Vietnam National University, Hanoi and Vietnam National
                    University, Ho Chi Minh City</th>
                <td>- Matriculation scores are expected to be announced after the exam results are available.</td>
            </tr>
            <tr>
                <th>Study abroad program and international program</th>
                <td>- Cambridge Advanced Diploma A level<br><br>- IB . International Baccalaureate Diploma<br><br>-
                    Graduated from high school and have a valid SAT 1 score of 800 points or more<br><br>- High school
                    diploma in other countries</td>
            </tr>
        </tbody>

    </table>
</body>

</html>