<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/view-marketting.js"></script>
</head>

<body>
    <style>
        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 6px 10px;

        }

        table tbody th {
            text-align: left;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Stage</th>
                <th>Subject code</th>
                <th>Subject name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Prepare English</th>
                <td>ENR101<br> <br>ENR201<br><br>ENR301<br><br>ENR401<br><br>ENR501</td>
                <td>English level 1<br><br>English level 2<br><br>English level 3<br><br>English level 4<br><br>
                    English level 5</td>
            </tr>
            <tr>
                <th>First year</th>
                <td> BUSI1701 <br><br>BUSI1695 <br><br>BUSI1628 <br><br>FINA1149 <br><br>INDU1106
                    <br><br>MARK1107
                </td>
                <td> Personal and professional development <br><br>International Business Environment <br><br>Management
                    of organizations and individuals <br><br>Finance for amateur managers <br><br>Management Practices
                    1<br><br>Marketing Principles and Practices
                </td>
            </tr>
            <tr>
                <th>Second Year</th>
                <td>BUSI1314 <br><br>INDU1107 <br><br>BUSI1315<br><br>BUSI1630 <br><br>INDU1166<br>
                    <br>RESE1170 <br><br>BUSI1715
                </td>
                <td> Business ethic<br><br>Team management in the organization <br><br>Management Practices 2
                    <br><br>Multicultural Management and Diversity Management<br><br>Career orientation<br><br>Business
                    Research Methods<br><br>Analysis and Organizational Performance
                </td>
            </tr>
            <tr>
                <th>Third year</th>
                <td> BUSI1323 <br><br>BUSI1714 <br><br>BUSI1633 <br><br>BUSI1475 <br><br>BUSI1702 <br><br>MARK1051 </td>
                <td>Organizational leadership<br><br>International startup project<br><br>Strategy for managers
                    <br><br>Management in critical contexts<br><br>Decision making in the organization <br><br>
                    Contemporary Issues in Marketing
                </td>
            </tr>

        </tbody>


    </table>

</body>

</html>