<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/view-tuition.js"></script>
</head>

<body>
    <style>
        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 6px 10px;

        }

        table tbody th {
            text-align: left;
        }
    </style>
</body>
<table>
    <thead>
        <tr>
            <th>Type of fees</th>
            <th>Amount of money</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>International admission fee</td>
            <td>4,600,000/student/time</td>
            <td></td>
        </tr>
        <tr>
            <td>English Preparation Stage Tuition</td>
            <td>11,800,000/level</td>
            <td>Includes 5 levels (*)</td>
        </tr>
        <tr>
            <td>Specialization Stage Tuition</td>
            <td>37.920,000/semester</td>
            <td>Consists of 9 semesters</td>
        </tr>
    </tbody>
</table>

</html>