<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission conditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/view-information.js"></script>
</head>

<body>
    <style>
        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 6px 10px;

        }

        table tbody th {
            text-align: left;
        }
    </style>

    <table>
        <thead>

            <h2>University of Greenwich, UK</h2>

        </thead>
        <tbody>
            <tr>
                <th>General introduction</th>
                <td>The University of Greenwich was established in 1890, is one of the famous universities in the UK
                    with more than 260,000 alumni. Over the years, the University of Greenwich has built its status as
                    one of the world's leading educational institutions. The school is accredited by many prestigious
                    organizations such as: CIPD, APS, and AMBA.</td>
            </tr>
            <tr>
                <th>Awards & World Rankings</th>
                <td>Over the years, the University of Greenwich has built its position as one of the world's leading
                    educational institutions, in the Top 501 – 600 best universities in the world in 2023 according to
                    THE World University Rankings, Top 101 – 200 universities. The most influential university in the
                    world according to THE Impact Rankings and Top 3 best universities in the UK by students voted by
                    StudentCrowd.</td>
            </tr>
            <tr>
                <th>Quality accredited curriculum</th>
                <td>The university currently offers more than 200 undergraduate programs and about 150 graduate programs
                    in many disciplines such as: economics, accounting, business, marketing, management, engineering,
                    information technology, ... University Greenwich also links with many regional and international
                    educational institutions, providing students with a variety of study programs and opportunities to
                    study abroad.</td>
            </tr>
            <tr>
                <th>Large international student community</th>
                <td>Named “the most international school” in the world by Times Higher Education Magazine, the
                    University of Greenwich is the UK university with the largest number of undergraduate students in
                    international joint programs. . </td>
            </tr>
            <tr>
                <th>Famous Alumni</th>
                <td>The University of Greenwich has trained more than 260,000 alumni globally, including many famous
                    names such as:

                    <br><br>- Charles K. Kao, Nobel Prize in Physics
                    <br><br>- Malorie Blackman, novelist
                    <br><br>- Jamie Adenuga (JME), music producer
                    <br><br>- HE Abiy Ahmed, Third Prime Minister of Ethiopia
                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>