<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphic & Design</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/view-design.js"></script>
</head>

<body>
    <style>
        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 6px 10px;

        }

        table tbody th {
            text-align: left;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Stage</th>
                <th>Subject code</th>
                <th>Subject name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Prepare English</th>
                <td>ENR101<br> <br>ENR201<br><br>ENR301<br><br>ENR401<br><br>ENR501</td>
                <td>English level 1<br><br>English level 2<br><br>English level 3<br><br>English level 4<br><br>
                    English level 5</td>
            </tr>
            <tr>
                <th>First year</th>
                <td> DESI1198 <br><br> DESI1213<br><br> DESI1239<br><br> DESI1200
                </td>
                <td>Principles of graphic design <br><br>Practice drawing experience at Studio <br><br>Art and Design in
                    Context <br><br>Studying the Art of Letters</td>
            </tr>
            <tr>
                <th>Second Year</th>
                <td> DESI1215 <br><br>DESI1238<br><br> DESI1217<br><br> DESI1218<br><br> DESI1214
                </td>
                <td> Graphic design for branding and advertising<br><br>Design Studies <br><br>Storytelling with visual
                    sequences
                    <br><br>Professional creative practice<br><br>Design thinking
                </td>
            </tr>
            <tr>
                <th>Third year</th>
                <td> DESI1219 <br><br>DESI1240 <br><br>DESI1237</td>
                <td>Graphic design research project <br><br>Professional Practice and Personal Profile
                    Development<br><br>Interdisciplinary design
                </td>
            </tr>

        </tbody>


    </table>

</body>

</html>