<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission conditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/view-pdp.js"></script>
</head>

<body>
    <style>
        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 6px 10px;

        }

        table tbody th {
            text-align: left;
        }

        h1 {
            font-size: 20px;
        }
    </style>


    <table>
        <thead>
            <tr>
                <th colspan="2">PDP (Personal Development Program) for students</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> Skills development course</th>
                <td>- Communication skills, Negotiation skills, Teamwork skills, Management skills, Interviewing and CV
                    writing skills, Time management skills, Office culture, Thinking Get rich, Personal finance, VIP
                    talk, ART talk…</td>
            </tr>
            <tr>
                <th>Clubs</th>
                <td>- Hiphop, Break dance, English, Young Business, Calligraphy, Guitar, Dan Tranh ... </td>
            </tr>
            <tr>
                <th>Sports activities</th>
                <td>Men's football, Women's basketball, Badminton, Basketball, Vovinam...</td>
            </tr>
            <tr>
                <th>Experiential activities</th>
                <td>7 days of experience, Green summer, Volunteering, Volunteering…</td>
            </tr>
            <tr>
                <th>The field of social relations and responsibility</th>
                <td> includes many educational activities connecting students' responsibility with the community: Food
                    class (donation of books to poor students), cycling for the environment, gratitude to heroes and
                    martyrs , in response to World AIDS Day...</td>
            </tr>
            <tr>
                <th>The field of soul</th>
                <td>Includes a series of cultural and artistic exchange activities such as tea ceremony art, oil
                    painting art, mime, quan ho folk songs, European cultural festivals, Japanese culture...</td>
            </tr>
            <tr>
                <th>Additional courses</th>
                <td>sex education, adolescent psychophysiology counseling, first aid, first aid in case of accident,
                    stress relief in school...</td>
            </tr>
        </tbody>

    </table>
</body>

</html>