<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission conditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/view-ojt.js"></script>
</head>

<body>
    <style>
        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 6px 10px;

        }

        table tbody th {
            text-align: left;
        }

        h1 {
            font-size: 20px;
        }
    </style>


    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Target</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> Office communication skills</th>
                <td>- Help students adapt quickly to the professional communication culture. <br><br>- Equip appropriate
                    behavioral skills in communicating with different audiences such as superiors, customers. <br><br>-
                    Helping students be more confident and successful in communication when entering the real business
                    environment.</td>
            </tr>
            <tr>
                <th>CV writing and interviewing skills</th>
                <td>- Equip students with the knowledge to build an impressive and outstanding CV. <br><br>- Help
                    students gain confidence & Leave an impression after the interview. <br><br>- Understand what
                    employers care about through resumes. <br><br>- How to write a CV that emphasizes competence,

                    enthusiasm, determination and knowledge. <br><br>- Help students prepare before, during, and after a
                    successful interview.</td>
            </tr>
        </tbody>

    </table>
</body>

</html>