<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission conditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/view-scholarship.js"></script>
</head>

<body>
    <style>
        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 6px 10px;

        }

        table tbody th {
            text-align: left;
        }

        h1 {
            font-size: 20px;
        }
    </style>

    <h1>Greenwich Vietnam dedicates a scholarship fund worth VND 96 billion to award many scholarships to candidates
        entering in 2023 who achieve the final grade of Grade 11, or Semester 1 of Grade 12 or Grade 12 with 7.0+ or
        ​​IELTS 6.0. +.</h1>
    <table>
        <thead>
            <tr>
                <th>Scholarship Award</th>
                <th>Scholarship values</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Green Talent Scholarship</th>
                <td>- 30% - 100% of tuition fee</td>
            </tr>
            <tr>
                <th>Golden Compass Scholarship</th>
                <td>- Hanoi/Ho Chi Minh Campus: 45,000,000 VND. <br><br>- Can Tho/Da Nang Campus: 142,000,000 VND</td>
            </tr>
            <tr>
                <th>Silver Compass Scholarship</th>
                <td>- Hanoi/Ho Chi Minh Campus: VND 25,000,000. <br><br>- Can Tho/Da Nang Campus: VND 122,000,000</td>
            </tr>
            <tr>
                <th>Compass Scholarship</th>
                <td>- Hanoi/Ho Chi Minh Campus: VND 15,000,000.<br><br>- Can Tho/Da Nang Campus: VND 112,000,000.</td>
            </tr>
            <tr>
                <th>Big Ben Scholarship</th>
                <td>- Hanoi/Ho Chi Minh Campus: VND 35,000,000. <br><br>- Can Tho/Da Nang Campus: 132,000,000 VND.</td>
            </tr>
            <tr>
                <th>Fschool Scholarship</th>
                <td>- Hanoi/Ho Chi Minh Campus: 30,000,000 VND. <br><br>- Can Tho/Da Nang Campus: 118,000,000 VND.</td>
            </tr>
        </tbody>

    </table>
</body>

</html>