<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Technology</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="/js/view-it.js"></script>
</head>

<body>
    <style>
        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 6px 10px;

        }

        table tbody th {
            text-align: left;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>Stage</th>
                <th>Subject code</th>
                <th>Subject name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Prepare English</th>
                <td>ENR101<br> <br>ENR201<br><br>ENR301<br><br>ENR401<br><br>ENR501</td>
                <td>English level 1<br><br>English level 2<br><br>English level 3<br><br>English level 4<br><br>
                    English level 5</td>
            </tr>
            <tr>
                <th>First year</th>
                <td> COMP-1589<br><br>COMP-1752<br><br>COMP-1753<br><br>COMP-1809<br><br>COMP-1821
                    <br><br>COMP-1843<br><br>COMP-1845 <br><br>MATH-1179
                </td>
                <td> Computer Systems and Internet Technology <br><br>Object Oriented Programming<br><br>Programming
                    Base<br><br>Introduction to Computer Science and Applications<br><br>Principles of Software
                    Engineering<br><br>Privacy Principles<br><br>IT System Development<br><br>Mathematics in
                    Computer Science</td>
            </tr>
            <tr>
                <th>Second Year – Specialization</th>
                <td> COMP-1551<br><br>COMP-1770<br><br>COMP-1773<br><br>COMP-1807<br><br>COMP-1841<br>
                    <br>COMP-1842<br><br>COMP-1810<br><br>COMP-1844
                </td>
                <td> Application development<br><br>Professional Project Management<br><br>User Interface Design
                    <br><br>Agile Project Management (Agile) with SCRUM<br><br>Web Programming 1<br><br>Web
                    Programming 2<br><br>Web and Data Analytics<br><br>Information Analytics and Visualization
                </td>
            </tr>
            <tr>
                <th>Third year</th>
                <td> COMP-1682<br><br>COMP-1649<br><br>COMP-1787<br><br>COMP-1786<br><br>COMP-1643</td>
                <td>Graduation thesis<br><br>Design and Interaction between Man and Machine<br><br>Manage Requests
                    <br><br>Mobile Application Design and Development<br><br>Information and Content Management
                </td>
            </tr>

        </tbody>


    </table>

</body>

</html>