<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission conditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/view-question.js"></script>
</head>

<body>
    <style>
        body {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            width: 100%;
        }

        table,
        td,
        th {
            border: 1px solid #333;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 6px 10px;

        }

        table tbody th {
            text-align: left;
        }

        h1 {
            font-size: 20px;
        }
    </style>


    <table>
        <thead>
            <tr>
                <th colspan="2">Frequently asked questions are always updated and answered by the school.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> What conditions do students need to study Greenwich Vietnam? How to apply for admission?</th>
                <td>- Candidates please refer to the admission conditions here:
                    https://greenwich.edu.vn/thong-bao-tuyen-sinh/</td>
            </tr>
            <tr>
                <th>Want to find out some general information about Greenwich Vietnam?</th>
                <td>- Candidates can find information about Greenwich Vietnam at:
                    https://greenwich.edu.vn/dai-hoc-greenwich-viet-nam/</td>
            </tr>
            <tr>
                <th>If I am not eligible for admission, can I still apply?</th>
                <td>You can apply for admission and will attend an interview with the school's admissions committee. The
                    interview will be based on 4 criteria: education level, personal status, career orientation, family
                    background.</td>
            </tr>
            <tr>
                <th>What is the application for admission to the program?</th>
                <td>Application documents for admission to Greenwich Vietnam include: <br><br>-Admission application
                    form (according to the form) <br><br>- 01 copy of birth certificate (photo or scan) <br><br>- 01
                    Certificate of National High School Exam Result or Provisional Graduation Certificate or Diploma
                    (photocopy or scan) <br><br>- 01 copy of high school transcript (photo or scan) <br><br>- 01 copy of
                    ID card (photocopy or scan) <br><br>- 02 photos 3×4 <br><br>- Certificate of English (if any)</td>
            </tr>
            <tr>
                <th>What majors does Greenwich Vietnam train?</th>
                <td> Currently, Greenwich Vietnam trains the following specialties: <br><br>- Information technology
                    industry <br><br>- Major in Business Administration with 4 narrow majors: Business Administration,
                    Marketing Management, Event Management, Communication Management<br><br>- Graphic Design Industry
                </td>
            </tr>
            <tr>
                <th>Where is the school headquarters located?</th>
                <td>- The campus of the University of Greenwich is located in London, UK. <br><br>- In Vietnam,
                    Greenwich Vietnam has 4 locations. For information about 4 facilities, candidates can refer to:
                    https://greenwich.edu.vn/lien-he/</td>
            </tr>
            <tr>
                <th>Does the school have dormitories for students?</th>
                <td>The school does not have a dormitory for students. If students have needs, the school will assist in
                    finding accommodation for students.</td>
            </tr>
            <tr>
                <th>My English is not good, can I study at Greenwich Vietnam?</th>
                <td>- Studying at Greenwich Vietnam, students will be guided and trained to improve their English.
                    First,
                    students will be directed to register and check their current English level assessment. The English
                    preparatory stage has 5 levels, each level is a different level according to the level of increase.
                    Depending on their level, students can shorten their preparatory English study time. <br><br>- Most
                    students of the program's courses go through the preparatory English phase without too much
                    difficulty. The teachers in the school with scientific teaching methods and the environment of using
                    English like a native help students improve their English quickly.</td>
            </tr>
            <tr>
                <th>Does Greenwich Vietnam have a student loan policy?</th>
                <td>- The school does not have a student loan policy. However, the school can issue a certificate of
                    being a student of the school to go to the locality to borrow money from the bank according to the
                    policy.
                </td>
            </tr>
        </tbody>

    </table>
</body>

</html>